APP_NAME=Tomor
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=database
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.hostinger.com
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=SSL
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

APP_CURRENCY=SAR
SECONDARY_FILE_DISK="public"
FRONT_OTP_CODE_MAX_ATTEMPTS=5
FRONT_OTP_CODE_BLOCK_LIMIT_MINUTES=30
FRONT_OTP_CODE_RESEND_LIMIT_SECONDS=60
FRONT_OTP_CODE_EXPIRATION_MINUTES=5
FRONT_CUSTOMER_VEHICLE_LIMIT=10

ULTRAMSG_INSTANCE_ID=
ULTRAMSG_TOKEN=

#Your Location
LONGITUDE_LOCATION=39.144143
LATITUDE_LOCATION=21.559263
RADIUS_LOCATION=50
#JEDDAH = 2 ,MAKKAH = 3
CITY_LOCATION=3

FIREBASE_CREDENTIALS=

DHAMEN_BASE_URL=
DHAMEN_APP_ID=
DHAMEN_APP_KEY=
DHAMEN_CLIENT_ID=
DHAMEN_API_VERSION=2

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=
